<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <h6>
            About
          </h6>
          <div class="custom_heading-container">
            <h2>
              web elements
            </h2>
            <hr>
          </div>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem
          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="../assets/images/about-img.png" alt="">
        </div>
      </div>
    </div>

  </div>
</section>

<section class="service_section layout_padding">
  <div class="container">
    <div class="d-flex flex-column align-items-end">
      <div class="custom_heading-container">
        <hr>
        <h2>
          Services
        </h2>

      </div>
      <p>
        There are many variations of passages of Lorem Ipsum available, but the majority
      </p>
    </div>
  </div>
  <div class="container">
    <div class="service_container layout_padding2">
      <a href="">
        <div class="box">
          <div class="img-box">
            <img src="../assets/images/s-1.png" alt="" class="img-1">
            <img src="../assets/images/s1-blue.png" alt="" class="img-2">
          </div>
          <div class="name">
            <h6>
              web
            </h6>
          </div>
        </div>
      </a>
      <a href="">
        <div class="box">
          <div class="img-box">
            <img src="../assets/images/s-2.png" alt="" class="img-1">
            <img src="../assets/images/s2-blue.png" alt="" class="img-2">
          </div>
          <div class="name">
            <h6>
              Graph Design
            </h6>
          </div>
        </div>
      </a>
      <a href="">
        <div class="box">
          <div class="img-box">
            <img src="../assets/images/s-3.png" alt="" class="img-1">
            <img src="../assets/images/s3-blue.png" alt="" class="img-2">
          </div>
          <div class="name">
            <h6>
              vector Design
            </h6>
          </div>
        </div>
      </a>
      <a href="">
        <div class="box">
          <div class="img-box">
            <img src="../assets/images/s-4.png" alt="" class="img-1">
            <img src="../assets/images/s4-blue.png" alt="" class="img-2">
          </div>
          <div class="name">
            <h6>
              Draw
            </h6>
          </div>
        </div>
      </a>
      <a href="">
        <div class="box">
          <div class="img-box">
            <img src="../assets/images/s-5.png" alt="" class="img-1">
            <img src="../assets/images/s5-blue.png" alt="" class="img-2">
          </div>
          <div class="name">
            <h6>
              Cloud
            </h6>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="read-btn">
    <a href="">
      Read More
    </a>
  </div>
</section>


<section class="portfolio_section">
  <div class="container">
    <div class="custom_heading-container">
      <h2>
        Portfolio
      </h2>
      <hr>
    </div>
    <p>
      There are many variations of passages of Lorem Ipsum available, but the majority
    </p>
    <div class="layout_padding2-top">
      <div class="row">
        <div class="col-md-4">
          <div class="img-box">
            <img src="../assets/images/p-1.jpg" alt="">
            <a href="">
              <img src="../assets/images/link.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="img-box">
            <img src="../assets/images/p-2.jpg" alt="">
            <a href="">
              <img src="../assets/images/link.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="img-box">
            <img src="../assets/images/p-3.jpg" alt="">
            <a href="">
              <img src="../assets/images/link.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="img-box">
            <img src="../assets/images/p-4.jpg" alt="">
            <a href="">
              <img src="../assets/images/link.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="img-box">
            <img src="../assets/images/p-5.jpg" alt="">
            <a href="">
              <img src="../assets/images/link.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="img-box">
            <img src="../assets/images/p-6.jpg" alt="">
            <a href="">
              <img src="../assets/images/link.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>